h1 友だちを探しましょう

p FacebookやTwitterで友だちを招待しましょう！

= link_to "Facebookで招待する", "#", class: "btn btn-primary"
= link_to "Twitterで招待する", "#", class: "btn btn-primary"


= link_to "Finish", '/', class: "btn btn-success"
